<%= error_messages_for 'member' %>
<% roles = Role.find_all_givable %>
<% users = User.active.find(:all).sort - @project.users %>
<% # members sorted by role position
   members = @project.members.find(:all, :include => [:role, :user]).sort %>
   
<% if members.any? %>
<table class="list">
	<thead>
	  <th><%= l(:label_user) %></th>
	  <th><%= l(:label_role) %></th>
	  <th style="width:15%"></th>
          <%= call_hook(:view_projects_settings_members_table_header, :project => @project) %>
	</thead>
	<tbody>
	<% members.each do |member| %>
	<% next if member.new_record? %>
	<tr class="<%= cycle 'odd', 'even' %>">
	<td><%= member.name %></td>
    <td align="center">
    <table class="edit_permissions_table">
    <thead>
    	<tr>
    		<th>Can't see</th>
    		<th>Read </th>
    		<th>and Edit </th>
    		<th>and Edit Permissions</th>
    	</tr>
    </thead>
    <tbody>
    	<tr>
    	  <td align="center"><%= radio_button("member", "#{member.id}", "cant_see")%></td>
    		<td align="center"><%= radio_button("member", "#{member.id}", "read")%></td>
    		<td align="center"><%= radio_button("member", "#{member.id}", "read_and_edit")%></td>
    		<td align="center"><%= radio_button("member", "#{member.id}", "all_permissions")%></td>
    	</tr>
    </tbody>
    </table>
    </td>
    <td align="center">
      <%= link_to_remote l(:button_delete), { :url => {:controller => 'members', :action => 'destroy', :id => member},                                              
                                              :method => :post
                                            }, :title => l(:button_delete),
                                               :class => 'icon icon-del' %>
    </td>
    <%= call_hook(:view_projects_settings_members_table_row, { :project => @project, :member => member}) %>
	</tr>
	</tbody>
<% end; reset_cycle %>
</table>
<input id="save-permissions" type="submit" value="Save">
<% else %>
<p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
<%= debug(@page) %>

<fieldset id="add_private_permissions" class="box">
  <legend>Add private permissions</legend>
  <% form_for :wiki_page_user_permission, :url => { :controller => "wiki", :action => "create_wiki_page_user_permissions" } do |f| %>
  <label for="user-select">Select user</label>
  <select id="user-select" name="wiki_page_user_permission[user_id]">
    <% members.each do |member| %>
    <option value="<%= member.id %>"><%= member.name%></option>
    <% end %>
  </select>
  <input value="<%= @page.id %>" name="wiki_page_user_permission[wiki_page_id]" style="display: none;"/>
  <label for="permission-select">Select permission</label>
  <select id="permission-select" name="wiki_page_user_permission[level]"> 
    <option value="0">Can't see</option>
    <option value="1">Read</option>
    <option value="2">and Write</option>
    <option value="3">and Edit Permissions</option>
    <input type="submit">    
  </select>
  <% end %>
</fieldset>
<!--
<% if authorize_for('members', 'new') && !users.empty? %>
  <% remote_form_for(:member, @member, :url => {:controller => 'members', :action => 'new', :id => @project}, :method => :post) do |f| %>
    <p><label for="member_user_id"><%=l(:label_member_new)%></label><br />
    <%= f.select :user_id, users.collect{|user| [user.name, user.id]} %>
    <%= l(:label_role) %>: <%= f.select :role_id, roles.collect{|role| [role.name, role.id]}, :selected => nil %>
    <%= submit_tag l(:button_add) %></p>
  <% end %>
<% end %>
-->
<style type="text/css" media="screen">
  .edit_permissions_table th {
    font-weight: normal;
    background-color: transparent !important;
    width: 100px;
  } 
  #user-select, #permission-select{
    margin-right: 20px;
  }
  #save-permissions{
    float: right;
    margin-top: 5px;
  }
  #add_private_permissions{
    clear: both;
  }
</style>